.tooltip {
    transition: visibility 3s, opacity 0.3s ease; 
    position: absolute;
    font-size: 12px;
    width: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 3px;
    display: flex;
    visibility: hidden;
    margin-left: -20px;
    margin-bottom: -150px;
  }
  
