.visible{
    transition: visibility 2s, opacity 0.3s ease; 
    position: absolute;
    font-size: 10px;
    width: 200px;
    background-color:rgb(73, 88, 112); 
    color:white;
     padding: 5px;
    border-radius: 3px;
    display: flex;
    margin-left: -50px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}